

#head{
    font-family: font;
}

#form2Example18 ,#form2Example19{
    font-size: 15px;
}

@media (min-width: 1001px) and (max-width: 1400px) {
    #login-image {
      width: 100%;
      height: 100%;
    }
  }
  
  